### decompose


- 5.24早修改table format 空格\xa
- 5.24 下午修改str_normalize 
- 5.24 晚 72需要复查
- 5.25 早list query strip() 
- 5.27 修改total，尝试disambiguous/  改成PIPE  / 晚上发现列名重复修改的问题， 发现shot来自test的问题
- 5.29 在shot中添加extra
- 5.31 在选列aug的shot中添加extra

In [1]:
import sys
sys.path.append('/media/disk1/chatgpt/zh/tabular_data')

In [2]:
import pandas as pd
from utils import parse_specific_composition, add_row_number, parse_specific_composition_zh
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
from data_loader import TableFormat, TableLoader
from langchain.memory import ChatMessageHistory
from langchain_core.messages import AIMessage, HumanMessage
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder
from langchain_core.runnables.history import RunnableWithMessageHistory
from langchain_community.embeddings import HuggingFaceBgeEmbeddings
from sqlalchemy import create_engine
from executor import SQLManager
import sqlparse
import numpy as np
np.random.seed(42)
embeddings = HuggingFaceBgeEmbeddings(
            model_name='BAAI/bge-large-en',
            model_kwargs={'device': 'cuda:2', 'trust_remote_code': True},
            encode_kwargs={'normalize_embeddings': True})

In [3]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
query_examples = [
                  "what was the time difference between the first place finisher and the eighth place finisher?",
                  "other than william stuart price, which other businessman was born in tulsa?",
                  "which canadian city had the most passengers traveling from manzanillo international airport in 2013?"
                  ]
new_query_examples = [
                      "what was the time for the first place finisher?; what was the time for the eighth place finisher?",
                      "was william stuart price born in tulsa?; who was born in tulsa?",
                      "how many passengers do each airline from canadian city have?; which canadian city had the most passengers?"
                      ]
num_k = 3
inds = [1, 11, 86]
table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=True, embeddings=embeddings).get_sample_data(sample_type='embedding', query=normalised_data[i]['query']) for i in range(num_k)]
examples = [TableFormat.format_html(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]

examples_prompt = PromptTemplate(input_variables=["query", "table", "new_query"], template=
"""Sub-Table: {table}
Query: {query}
Decompose query: {new_query}""")

examples_dict = [{"query": query_examples[i],
                                    "table": examples[i],
                                    "new_query": new_query_examples[i]} for i in range(num_k)]
decompose_prompt_wiki = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""You are capable of converting complex query into sub queries. Based on the table, decompose original query into at most 2 complete sub queries which can solve original query. Output new query directly.""",
    suffix=
    """Sub-Table: {table}
Query: {query}
Decompose query: """,
    input_variables=["query", "table"],
)

In [4]:
task_name = 'wikitable'
split = 'test'
model_name = 'gpt-3.5-turbo-0125'
# model = ChatOpenAI(model_name=model_name, openai_api_base="https://api.chatanywhere.com.cn/v1",
#                        openai_api_key="sk-WZtqZEeuE0Xb6syVghDgAxdwe0ASWLkQRGxl61UI7B9RqNC4", temperature=0.7).bind(logprobs=True)
schema_information = pd.read_csv(f"../result/aug/{task_name}_{split}_schema.csv", index_col='table_id')
aug_information = pd.read_csv(f"../result/aug/{task_name}_{split}_summary.csv", index_col='table_id')
composition_information = pd.read_csv(f"../result/aug/{task_name}_{split}_composition.csv", index_col='table_id')
engine = create_engine('sqlite:////media/disk1/chatgpt/zh/tabular_data/db/sqlite/row_per.db', echo=False)
manager = SQLManager(engine=engine)

In [5]:
table_loader = TableLoader(table_name=task_name, split='test', use_sample=False, small_test=False)
sample = table_loader.normalize_table(table_loader.dataset[2])

### disambiguous

In [6]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
inds = [5, 11, 46]
num_k = 3
table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=True,embeddings=embeddings).get_sample_data(sample_type='embedding', query=normalised_data[i]['query']) for i in range(num_k)]
examples = [TableFormat.format_html(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]
new_query_examples = ["was the Sandia Peak Tramway before or after the 3S Aerial Tramway in terms of Year_of_inauguration?",
                      "other than William Stuart Price, which other businessman's was in Tulsa in terms of Hometown?",
                      "How many players are G\\nF in terms of Position?"]
examples_prompt = PromptTemplate(input_variables=["query", "new_query"], template=
"""
Query: {query}
Table: {table}
New query: {new_query}""")

examples_dict = [{"query": table_loader.dataset[inds[i]]['question'],
                  "table": examples[i],
                    "new_query": new_query_examples[i]} for i in range(num_k)]
disambiguous_prompt_wiki = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    # prefix="""Based on the given table, your task is to rewrite the query to resolve ambiguity and ensure the question is consistent with the table. 
    # This requires pinpointing elements of the question to table contents and rewriting the question to ensure a consistent, clear interpretation. """,
    suffix=
    """
Query: {query}
Table: {table}
New query: """,
    input_variables=["query", "table"],
)

### step-back

In [7]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.few_shot import FewShotPromptTemplate
from data_loader import TableFormat
inds = [11, 182, 70]
num_k = 2
table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
normalised_data = [table_loader.normalize_table(table_loader.dataset[inds[i]]) for i in range(num_k)]
example_samples = [TableFormat(format='none', data=normalised_data[i], save_embedding=True,embeddings=embeddings).get_sample_data(sample_type='embedding', query=normalised_data[i]['query']) for i in range(num_k)]
examples = [TableFormat.format_html(example_samples[i], normalised_data[i]['table']['caption']) for i in range(num_k)]
new_query_examples = [
    # "Which country uses the US dollar as its currency and has the Federal Reserve as its central bank?",
    "which business man was born in tulsa?",
    "what is the network owned by national polytechnic institute?",
    "what districts are more populous than haridwar?"
    ]
examples_prompt = PromptTemplate(input_variables=["query", "new_query"], template=
"""Sub-table: {table}
Query: {query}
New query: {new_query}""")

examples_dict = [{"query": table_loader.dataset[inds[i]]['question'],
                  "table": examples[i],
                    "new_query": new_query_examples[i]} for i in range(num_k)]
step_back_prompt_wiki = FewShotPromptTemplate(
    examples=examples_dict,
    example_prompt=examples_prompt,
    prefix="""Below is a sub-table with rows randomly sampled from the original table. Based on the sub-table, your task is to step back and paraphrase a question to a more generic step-back question, which is easier to answer.""",
    suffix=
    """Sub-table: {table}
Query: {query}
New query: """,
    input_variables=["query", "table"],
)

In [8]:
def get_k_shot_with_answer(k: int=1):
#     sqls = ["SELECT COUNT(*) FROM DF WHERE Outcome = 'Runner-up' AND Opponent = 'Roger Federer';"
#             ]
#     thoughts = ["The SQL query filters the data to only include rows where the outcome is 'Runner-up' and the opponent is 'Roger Federer'. The sub-table shows that Roger Federer was a runner-up 2 times."]
#     tables = [""" <table>
# <thead>
# <tr><th>  COUNT(*)</th></tr>
# </thead>
# <tbody>
# <tr><td>2.0000    </td></tr>
# </tbody>
# </table>"""]
#     tables_pipe = ["""/*
# table caption : turkish cup
# col : MAX(winners_c_from_previous_round)
# row 1: 54
# */"""]
#     claims = ["how many times was roger federer a runner-up?"]
        sqls = ["SELECT DISTINCT Type FROM DF WHERE Type != 'audio';"
                ]
        thoughts = ["Based on the SQL query and the extra information provided, the types include audio or video. Therefore, other than audio, the payload type is video."]
        tables = ['<table>\n<thead>\n<tr><th> Type </th></tr>\n</thead>\n<tbody>\n<tr><td>video   </td></tr>\n<tr><td>audio/video   </td></tr>\n</tbody>\n</table>']
        claims = ["other than audio, what type of payload types are there?"]
        extras = ["The payload types for audio include audio, video, and audio/video."]
#     sqls = ["SELECT MIN(points) FROM DF WHERE rider = 'roger dutton / tony wright';"
#             ]
#     thoughts = ["Based on the SQL query provided, the minimum number of points that Roger Dutton / Tony Wright received in the 1972 Isle of Man TT event was 3. 3 is the fewest points they received. "]
#     tables = ["<table>\n<caption>1972 isle of man tt</caption>\n<thead>\n<tr><th>  MIN(points)</th></tr>\n</thead>\n<tbody>\n<tr><td>3            </td></tr>\n</tbody>\n</table>"]
#     claims = ["2 be the fewest point that roger dutton / tony wright receive"]
    # inds from test split
        examples_prompt = PromptTemplate(input_variables=["SQL", "table", "information",  "claim", "thought", "output"], template=
        """
SQL Excuted: 
```{SQL}```
Sub-table: {table}
Extra information:
{information}

Query: {claim}
Thought: {thought}
Answer: {output}
        """)
        examples_dict = dict(zip(["SQL", "table", "information",  "claim", "thought", "output"], [sqls[0], tables[0], extras[0], claims[0], thoughts[0], 'video']))
        prompt_template = FewShotPromptTemplate(
                examples=[examples_dict],
                example_prompt=examples_prompt,
                prefix="""Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Think step by step and answer the question given in the query.
You should output in the following format:
Thought: your step by step thought
Answer: Only return the concise string instead of other format. Do not repeat the question.
Below is an example.""",
        suffix=
        """
SQL Excuted: 
```{SQL}```
Sub-table: {table}
Extra information:
{information}

Query: {query}""",
                input_variables=["table", "query", "SQL", "information"],
        )
        return prompt_template

In [9]:
def get_k_shot_with_aug(k: int=2):
    table_loader = TableLoader(table_name='wikitable', split='train', use_sample=True, small_test=False)
    examples_dict = []
    
    examples_dict.extend([{"table": '<table>\n<caption>Hoot Kloot</caption>\n<thead>\n<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>\n</thead>\n<tbody>\n<tr><td>1  </td><td>"Kloot\'s Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>\n<tr><td>6  </td><td>"Mesa Trouble"       </td><td>Sid Marcus </td><td>1974       </td></tr>\n</tbody>\n</table>',
                                        "claim": table_loader.dataset[95]['question'],
                                        "aug": "The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year. \n1. Number: The episode number in the series \n2. Title: The title of the episode \n3. Directed_by_: The director of the episode \n4. Released_: The release year of the episode",
                                        "linking": "the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_",
                                        "output": "Released_, Number, Title, Directed_by_"}])
    examples_dict.extend([{"table": '<table>\n<caption>1943–44 Chicago Black Hawks season</caption>\n<thead>\n<tr><th>  num</th><th>       Date</th><th>            Visitor</th><th>  Score</th><th>               Home</th><th>  Record</th></tr>\n</thead>\n<tbody>\n<tr><td>14   </td><td>December 5 </td><td>New York Rangers   </td><td>6–7    </td><td>Chicago Black Hawks</td><td>8–6–0   </td></tr>\n<tr><td>40   </td><td>February 26</td><td>Chicago Black Hawks</td><td>3–2    </td><td>Toronto Maple Leafs</td><td>18–18–4 </td></tr>\n<tr><td>31   </td><td>January 29 </td><td>Chicago Black Hawks</td><td>4–3    </td><td>Toronto Maple Leafs</td><td>14–16–1 </td></tr>\n</tbody>\n</table>',
                                        "claim": 'what was the difference in score in the december 19th win?',
                                        "aug": 'The table contains information about the 1943-44 Chicago Black Hawks season, including the date, visitor, score, home team, record, and points for each game. \n1. num: The game number in the season \n2. Date: The date of the game\n3. Vistor: The visiting team\n4. Score: The final score, with the visitor score listed first\n5. Home: The home team\n6. Record: The team win-loss-overtime loss record at the time of the game',
                                        "linking": 'difference in score -> Score, december 19th -> Date',
                                        "output": 'Date, Score'}])
    
    # "The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year."
    # "№<The episode number in the series>\nTitle<The title of the episode>\nDirected_by_<The director of the episode>\nReleased_<The release year of the episode>"
    examples_prompt = PromptTemplate(input_variables=["table", "aug","claim", "output", "linking"], template=
    """
Table: {table}
Extra information: {aug}

Query: {claim}
Column linking: {linking}
Columns: {output}""")
    prompt_template = FewShotPromptTemplate(
        examples=examples_dict,
        example_prompt=examples_prompt,
        prefix=
        """
Based on the Table below, your task is to accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
Approach this task as follows:
Read the query and extra information thoroughly and list every possible link from query term to column in the Table. 
Then based on the column linking, output all useful columns at last. Make sure all columns in the linking step are included and every column is in the Table.""",
        suffix=
        """
Table: {table}
Extra information: {aug}

Query: {claim}""",
        input_variables=["table", "claim", "aug"],
)
    return prompt_template

In [10]:
from utils import parse_output
def scene_A(query, sample, k =3, verbose=True):
    row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""Our ultimate goal is to answer query based on the original table. Below we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: {table}
Extra information: {aug}

Query: {claim}
SQL: """)
    np.random.seed(32)
    formatter = TableFormat(format='none', data=sample, save_embedding=False)
    formatter.all_data = formatter.all_data.sample(frac=1).reset_index(drop=True)
    formatter.save_row_embedding(embeddings=embeddings, save_local=False)
    
    
    k_shot_prompt = get_k_shot_with_aug()
    formatter.normalize_schema(schema_information.loc[sample['table']['id']]['schema'])
    if k == 0:
        sample_data = formatter.get_sample_data(sample_type='head', k=k)
    else:
        sample_data = formatter.get_sample_data(sample_type='embedding', query=query, k=k)
    with get_openai_callback() as cb:
        llm_chain = LLMChain(llm=model, prompt=k_shot_prompt, verbose=verbose)
        summary_aug, column_aug = aug_information.loc[sample['table']['id']]['summary'], aug_information.loc[sample['table']['id']]['column_description'] 
        col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
        extra_col_info = []
        for i_c in range(len(col_names)):
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
        
        stage_1_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug +'\n'+ '\n'.join(extra_col_info)
                                            })], return_only_outputs=True)[0]['text']
        if verbose:
            print(stage_1_batch_pred)
        stage_1_batch_pred = stage_1_batch_pred.split(':')[-1]
        
        extra_cols = formatter.get_sample_column(embeddings, column_aug)
        # stage 2: SQL generation
        llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=verbose)
        columns = list(set([c.strip() for c in stage_1_batch_pred.split(',')] + extra_cols))
        
        try: 
            # formatter.all_data = formatter.all_data.loc[:, columns]
            sample_data = sample_data.loc[:, columns]
        except:
            sample_data =sample_data
        extra_information = []
        tuples = parse_specific_composition_zh(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns)
        for col, com in tuples:
            if len(pd.unique(formatter.all_data[col])) < 6:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique().astype(str)))})'
                extra_information.append(col + ':' + com)
            else:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique()[:3].astype(str)))}...)'
                extra_information.append(col + ':' + com)
        # extra_information.append('row_number: row index in the original table')
        stage_2_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data = sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\nColumn information:\n' + '\n'.join(extra_information)
                                            })], return_only_outputs=True)[0]['text'].replace("–", "-").replace("—", "-").replace("―", "-").replace("−", "-")
        if verbose:
            print(stage_2_batch_pred)
    # stage 3: SQL Excution
    try: 
        execute_data = manager.execute_from_df(stage_2_batch_pred, add_row_number(formatter.all_data), table_name='DF')
    except:
        execute_data = formatter.all_data
        stage_2_batch_pred = 'SELECT * from DF;'
    if len(execute_data) == 0:
        return query, stage_2_batch_pred, 'No data from database', cb.total_tokens
    return query, stage_2_batch_pred, TableFormat.format_html(data=execute_data), cb.total_tokens
    # return query, stage_2_batch_pred, execute_data, cb.total_tokens

In [11]:
import concurrent.futures
from langchain_community.callbacks import get_openai_callback
def parallel_run(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = [executor.submit(func, arg) for arg in args_list]
        return [future.result() for future in concurrent.futures.as_completed(results)]

def parallel_run_kwargs(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = executor.map(lambda kwargs: func(**kwargs), args_list)
        return list(results)

### RUN

In [12]:
def eval_blury_string(pred_list):
    pred_label = []
    for pred in pred_list:
        predict_ans = pred.split('\n')[-1]
        if '0' in predict_ans:
            predict_ans = '0'
        elif '1' in predict_ans:
            predict_ans = '1'
        else:
            predict_ans = '2'
        pred_label.append(predict_ans)
    return pred_label

In [13]:
import concurrent.futures
from typing import List
import os
import json
from langchain_community.callbacks import get_openai_callback
def parallel_run(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = [executor.submit(func, arg) for arg in args_list]
        return [future.result() for future in concurrent.futures.as_completed(results)]

def parallel_run_kwargs(func, args_list):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        results = executor.map(lambda kwargs: func(**kwargs), args_list)
        return list(results)

def save_csv(input_list: List[List], label_list: List, file_path):
    import pandas as pd
    directory = os.path.dirname(file_path)
    if not os.path.exists(directory):
        os.makedirs(directory)

    assert len(input_list) == len(label_list)
    df = pd.DataFrame()
    for i in range(len(label_list)):
        df[label_list[i]] = pd.Series(input_list[i])
    if os.path.exists(file_path) and file_path.endswith('.csv'):
        df_origin = pd.read_csv(file_path)
        df = pd.concat([df_origin, df], axis=0)
    df.to_csv(file_path, index=False, encoding='utf-8')

## 调整extrainformation的位置

In [14]:
from utils import parse_output
answer_instruction = PromptTemplate(input_variables=["SQL", "table", "claim"], 
                                    template="""
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering and answer the query using the final sub-table. 
SQL Excuted: 
```{SQL}```
Sub-table: 
{table}
Query: {claim}
Please provide a clear, complete statement in response to the query. If you cannot answer the query based on the sub-table, just say 'Cannot get answer from sub-table'.
""" )
def scene_B(query, sample, k=3, verbose=False):
    row_instruction = PromptTemplate(input_variables=["table", "claim", "aug"], 
                                 template="""Our ultimate goal is to answer query based on the original table. Now we have a sub-table with rows sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: {table}
Extra information: {aug}

Query: {claim}
SQL: """)
    np.random.seed(42)
    formatter = TableFormat(format='none', data=sample, save_embedding=False)
    formatter.all_data = formatter.all_data.sample(frac=1).reset_index(drop=True)
    formatter.save_row_embedding(embeddings=embeddings, save_local=False)
    
    
    formatter.normalize_schema(schema_information.loc[sample['table']['id']]['schema'])
    if k == 0:
        sample_data = formatter.get_sample_data(sample_type='head', k=k)
    else:
        sample_data = formatter.get_sample_data(sample_type='embedding', query=query, k=k)
    # get columns
    with get_openai_callback() as cb:
        llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_aug(), verbose=verbose)
        summary_aug, column_aug = aug_information.loc[sample['table']['id']]['summary'], aug_information.loc[sample['table']['id']]['column_description'] 
        col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
        extra_col_info = []
        for i_c in range(len(col_names)):
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]}')
        stage_1_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n' + '\n'.join(extra_col_info)
                                            })], return_only_outputs=True)[0]['text']
        stage_1_batch_pred = stage_1_batch_pred.split(':')[-1]
        
        extra_cols = formatter.get_sample_column(embeddings, column_aug)
        # stage 2: SQL generation
        llm_chain = LLMChain(llm=model, prompt=row_instruction, verbose=verbose)
        columns = list(set([c.strip() for c in stage_1_batch_pred.split(',')] + extra_cols))
        try: 
            sample_data = sample_data.loc[:, columns]
        except:
            sample_data = sample_data
        extra_information = []
        tuples = parse_specific_composition_zh(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns)
        for col, com in tuples:
            if len(pd.unique(formatter.all_data[col])) < 6:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique().astype(str)))})'
                extra_information.append(col + ':' + com)
            else:
                com += f' (Values like {", ".join(list(formatter.all_data[col].dropna().unique()[:3].astype(str)))}...)'
                extra_information.append(col + ':' + com)
        #  sample augmentation
        # extra_information = (parse_specific_composition(composition_information.loc[sample['table']['id']]['composition'], sample_data.columns))
        # extra_information.append('row_number: row index in the table')
        stage_2_batch_pred = llm_chain.batch([dict({'table': TableFormat.format_html(data=sample_data, table_caption=sample['table']['caption']),
                                            'claim': query,
                                            'aug':  summary_aug + '\n Column information:' + '\n'.join(extra_information)
                                            })], return_only_outputs=True)[0]['text'].replace("–", "-").replace("—", "-").replace("―", "-").replace("−", "-")
    
        
        # stage 3: SQL Excution
        try: 
            execute_data= manager.execute_from_df(stage_2_batch_pred, add_row_number(formatter.all_data), table_name='DF')
        except:
            execute_data = formatter.all_data
            stage_2_batch_pred = 'SELECT * from DF;'
        llm_chain = LLMChain(llm=model, prompt=answer_instruction, verbose=verbose)
        response = llm_chain.batch([dict({'table': TableFormat.format_html(execute_data),
                                                'claim': query,
                                                'SQL':  stage_2_batch_pred
                                                })], return_only_outputs=True)[0]['text']
    # print("total_tokens:", cb.total_tokens)
    return response, cb.total_tokens

In [15]:
from langchain_openai import AzureChatOpenAI
import os


os.environ["AZURE_OPENAI_API_KEY"] = "2b219db0d2984f9dae28b651ab8ab3d9"
os.environ["AZURE_OPENAI_ENDPOINT"] = "https://smsh.openai.azure.com/"
os.environ["AZURE_OPENAI_API_VERSION"] = "2024-02-01"
os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"] = "gpt-35-turbo"

# os.environ["AZURE_OPENAI_API_KEY"] = "0c75de50975e4f278b882fe90da47f2f"
# os.environ["AZURE_OPENAI_ENDPOINT"] = "https://ces.openai.azure.com"
# os.environ["AZURE_OPENAI_API_VERSION"] = "2024-02-01"
# os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"] = "gpt-35-turbo"
model = AzureChatOpenAI(
    openai_api_version=os.environ["AZURE_OPENAI_API_VERSION"],
    azure_deployment=os.environ["AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"],
    temperature=0.01,
    max_retries=5, request_timeout=1000
)

In [16]:
跑的是选列加了extra

NameError: name '跑的是选列加了extra' is not defined

In [17]:
from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
import datetime
from FlagEmbedding import FlagReranker
from openai import BadRequestError
from tqdm.notebook import tqdm
# table_loader = TableLoader(table_name='wikitable', split='validation', use_sample=True, small_test=False)
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False, small_test=False)
# model = ChatOpenAI(model_name='gpt-3.5-turbo-0125', openai_api_base="https://api.chatanywhere.com.cn/v1",
#                        openai_api_key="sk-bLZSHx4pKfPRZkYyIyyvUHSEjrlqj5sh2QIsxOM23yJnyoGD", temperature=0.01)
# save_path = f"../result/final_answer/wikitable_row_permutation_{datetime.datetime.now().strftime('%m-%d_%H-%M-%S')}.csv"
save_path = f"../result/final_answer/wikitable_row_permutation_06-11_14-58-23.csv"

# reranker = FlagReranker('BAAI/bge-reranker-large', use_fp16=True)

muilti_answer_instruction = PromptTemplate(input_variables=["information", "claim"], 
# template="""You are a brilliant table executor with the capabilities information retrieval, table parsing, table partition and semantic understanding who can understand the structural information of the table.
template = """
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Complete task with the help of extra information below.

SQL Excuted: 
```{SQL}```
Sub-table:
{table}
Extra information:
{information}

Query: {query}
Think step by step and answer the last question given in the query. Only return the string instead of other format information. Do not repeat the question.
""" )
sample_k = 3
# Task: answer the last question given in the query. Only return the string instead of other format information. Do not repeat the question.
# Task: verify whether the provided claim/query is true or false, return 0 if it's false, or 1 if it's true. Please think step by step and return 0/1 at last.
# data = pd.read_csv(save_path)

# muilti_answer_instruction = get_k_shot_with_answer()
# for sample_n in range(3):
tokens = []
outputs = []
labels = []
ids = []
extra_quries = []
i = 3810
with tqdm(total=len(table_loader.dataset) - 3810, desc=f"Processing",ncols=1500) as pbar:
    while i < len(table_loader.dataset):
        try:
            sample = table_loader.normalize_table(
                                table_loader.dataset[i])
            all_tokens = 0
            all_queries = []
            formatter = TableFormat(format='none', data=sample, save_embedding=False)
            sample_data = formatter.get_sample_data(sample_type='random', k=sample_k, query=sample['query'])
            with get_openai_callback() as cb:
                llm_chain = LLMChain(llm=model, prompt=step_back_prompt_wiki, verbose=False)
                batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
                if batch_pred[0]['text'].strip() != sample['query']:
                    all_queries.append(batch_pred[0]['text'].strip())
                # llm_chain = LLMChain(llm=model, prompt=disambiguous_prompt_wiki, verbose=False)
                # batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
                # all_queries.append(batch_pred[0]['text'].strip())
                llm_chain = LLMChain(llm=model, prompt=decompose_prompt_wiki, verbose=False)
                batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
                all_queries.extend([q.strip() for q in batch_pred[0]['text'].split(';')])
                # print(all_queries)
            all_tokens += cb.total_tokens
            all_queries = list(set(all_queries))
            args_list = [{"query": q, "sample": sample, "k": sample_k} for q in all_queries]
            # print(args_list)
            ans_from_B = parallel_run_kwargs(scene_B, args_list)
            results = [res[0] for res in ans_from_B if 'Cannot get answer from sub-table' not in res[0] ]
            all_tokens += sum([res[1] for res in ans_from_B])
            #With answer
            # results= []
            with get_openai_callback() as cb:
                imp_input = scene_A(sample['query'], sample, sample_k, False)
                llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_answer(), verbose=False)
                batch_pred = llm_chain.batch([{"query": sample['query'],"SQL": imp_input[1], "table": imp_input[2], "information": '\n'.join(results)}], return_only_outputs=True)
            # print(batch_pred[0])
            all_tokens += cb.total_tokens
            # print('ALL TOKENS', all_tokens)
            ids.append(sample['id'])
            labels.append(sample['query'])
            outputs.append(batch_pred[0]['text'])
            tokens.append(all_tokens)
            extra_quries.append(';'.join(all_queries))
            if (i + 1) % 10 == 0:
                    print(f'saving {i}')
                    save_csv([outputs, labels, ids, tokens, extra_quries], ['preds', 'statements','ids', 'tokens', 'extra'], file_path=save_path)
                    outputs = []
                    labels = []
                    ids = []
                    tokens = []
                    extra_quries = []
            i += 1
            print(f' Process {i}')
            pbar.update(1)

        except BadRequestError as e:
            print('*************************Bad Request**************')
            i += 1
            pbar.update(1)
        except ValueError as e:
            print(f'******************Value Error {i}****************************')
            i += 1
            pbar.update(1)
save_csv([outputs, labels, ids, tokens, extra_quries], ['preds', 'statements','ids', 'tokens', 'extra'], file_path=save_path)

Processing:   0%|                                                                                             …

 Process 3811
 Process 3812
 Process 3813
 Process 3814
 Process 3815
 Process 3816
 Process 3817
 Process 3818
 Process 3819
saving 3819
 Process 3820
 Process 3821
 Process 3822
 Process 3823
 Process 3824
 Process 3825
 Process 3826
 Process 3827
 Process 3828
 Process 3829
saving 3829
 Process 3830
 Process 3831
******************Value Error 3831****************************
 Process 3833
 Process 3834
 Process 3835
 Process 3836
 Process 3837
 Process 3838
 Process 3839
saving 3839
 Process 3840
 Process 3841
 Process 3842
 Process 3843
 Process 3844
 Process 3845
 Process 3846
 Process 3847
 Process 3848
 Process 3849
saving 3849
 Process 3850
 Process 3851
 Process 3852
 Process 3853
 Process 3854
 Process 3855
 Process 3856
 Process 3857
 Process 3858
 Process 3859
saving 3859
 Process 3860
 Process 3861
 Process 3862
 Process 3863
 Process 3864
 Process 3865
 Process 3866
 Process 3867
 Process 3868
 Process 3869
saving 3869
 Process 3870
 Process 3871
 Process 3872
 Process 3873
 Process 3874
 Process 3875
 Process 3876
 Process 3877
 Process 3878
 Process 3879
saving 3879
 Process 3880
 Process 3881
 Process 3882
 Process 3883
 Process 3884
 Process 3885
 Process 3886
 Process 3887
 Process 3888
 Process 3889
saving 3889
 Process 3890
 Process 3891
 Process 3892
 Process 3893
 Process 3894
 Process 3895
 Process 3896
 Process 3897
 Process 3898
 Process 3899
saving 3899
 Process 3900
 Process 3901
 Process 3902
 Process 3903
 Process 3904
 Process 3905
 Process 3906
 Process 3907
 Process 3908
 Process 3909
saving 3909
 Process 3910
 Process 3911
 Process 3912
 Process 3913
 Process 3914
 Process 3915
 Process 3916
 Process 3917
 Process 3918
 Process 3919
saving 3919
 Process 3920
 Process 3921
 Process 3922
 Process 3923
 Process 3924
 Process 3925
 Process 3926
 Process 3927
 Process 3928
 Process 3929
saving 3929
 Process 3930
 Process 3931
 Process 3932
 Process 3933
 Process 3934
 Process 3935
 Process 3936
 Process 3937
 Process 3938
 Process 3939
saving 3939
 Process 3940
 Process 3941
 Process 3942
 Process 3943
 Process 3944
 Process 3945
 Process 3946
 Process 3947
 Process 3948
 Process 3949
saving 3949
 Process 3950
 Process 3951
 Process 3952
 Process 3953
 Process 3954
 Process 3955
 Process 3956
 Process 3957
 Process 3958
 Process 3959
saving 3959
 Process 3960
 Process 3961
 Process 3962
 Process 3963
 Process 3964
 Process 3965
 Process 3966
 Process 3967
 Process 3968
 Process 3969
saving 3969
 Process 3970
 Process 3971
 Process 3972
 Process 3973
 Process 3974
 Process 3975
 Process 3976
 Process 3977
 Process 3978
 Process 3979
saving 3979
 Process 3980
 Process 3981
 Process 3982
 Process 3983
 Process 3984
 Process 3985
 Process 3986
 Process 3987
 Process 3988
 Process 3989
saving 3989
 Process 3990
 Process 3991
 Process 3992
 Process 3993
 Process 3994
 Process 3995
 Process 3996
 Process 3997
 Process 3998
 Process 3999
saving 3999
 Process 4000
 Process 4001
 Process 4002
 Process 4003
 Process 4004
 Process 4005
 Process 4006
 Process 4007
 Process 4008
 Process 4009
saving 4009
 Process 4010
 Process 4011
 Process 4012
 Process 4013
 Process 4014
 Process 4015
 Process 4016
 Process 4017
 Process 4018
 Process 4019
saving 4019
 Process 4020
 Process 4021
 Process 4022
 Process 4023
 Process 4024
 Process 4025
 Process 4026
 Process 4027
 Process 4028
 Process 4029
saving 4029
 Process 4030
 Process 4031
 Process 4032
 Process 4033
 Process 4034
 Process 4035
 Process 4036
 Process 4037
 Process 4038
 Process 4039
saving 4039
 Process 4040
 Process 4041
 Process 4042
 Process 4043
 Process 4044
 Process 4045
 Process 4046
 Process 4047
 Process 4048
 Process 4049
saving 4049
 Process 4050
 Process 4051
 Process 4052
 Process 4053
 Process 4054
 Process 4055
 Process 4056
 Process 4057
 Process 4058
 Process 4059
saving 4059
 Process 4060
 Process 4061
 Process 4062
 Process 4063
 Process 4064
 Process 4065
 Process 4066
 Process 4067
 Process 4068
 Process 4069
saving 4069
 Process 4070
 Process 4071
 Process 4072
 Process 4073
 Process 4074
 Process 4075
 Process 4076
 Process 4077
 Process 4078
 Process 4079
saving 4079
 Process 4080
 Process 4081
 Process 4082
 Process 4083
 Process 4084
 Process 4085
 Process 4086
 Process 4087
 Process 4088
 Process 4089
saving 4089
 Process 4090
 Process 4091
 Process 4092
 Process 4093
 Process 4094
 Process 4095
 Process 4096
 Process 4097
 Process 4098
 Process 4099
saving 4099
 Process 4100
 Process 4101
 Process 4102
 Process 4103
 Process 4104
 Process 4105
 Process 4106
 Process 4107
 Process 4108
 Process 4109
saving 4109
 Process 4110
 Process 4111
 Process 4112
 Process 4113
 Process 4114
 Process 4115
 Process 4116
 Process 4117
 Process 4118
 Process 4119
saving 4119
 Process 4120
 Process 4121
 Process 4122
 Process 4123
 Process 4124
 Process 4125
 Process 4126
 Process 4127
 Process 4128
 Process 4129
saving 4129
 Process 4130
 Process 4131
 Process 4132
 Process 4133
 Process 4134
 Process 4135
 Process 4136
 Process 4137
 Process 4138
 Process 4139
saving 4139
 Process 4140
 Process 4141
 Process 4142
 Process 4143
 Process 4144
******************Value Error 4144****************************
 Process 4146
 Process 4147
 Process 4148
 Process 4149
saving 4149
 Process 4150
 Process 4151
 Process 4152
 Process 4153
 Process 4154
 Process 4155
 Process 4156
 Process 4157
 Process 4158
 Process 4159
saving 4159
 Process 4160
 Process 4161
 Process 4162
 Process 4163
 Process 4164
 Process 4165
 Process 4166
 Process 4167
 Process 4168
 Process 4169
saving 4169
 Process 4170
 Process 4171
 Process 4172
 Process 4173
 Process 4174
 Process 4175
 Process 4176
 Process 4177
 Process 4178
 Process 4179
saving 4179
 Process 4180
 Process 4181
 Process 4182
 Process 4183
 Process 4184
 Process 4185
 Process 4186
 Process 4187
 Process 4188
 Process 4189
saving 4189
 Process 4190
 Process 4191
 Process 4192
 Process 4193
 Process 4194
 Process 4195
 Process 4196
 Process 4197
 Process 4198
 Process 4199
saving 4199
 Process 4200
 Process 4201
 Process 4202
 Process 4203
 Process 4204
 Process 4205
 Process 4206
 Process 4207
 Process 4208
 Process 4209
saving 4209
 Process 4210
 Process 4211
 Process 4212
******************Value Error 4212****************************
 Process 4214
 Process 4215
 Process 4216
 Process 4217
 Process 4218
 Process 4219
saving 4219
 Process 4220
 Process 4221
 Process 4222
 Process 4223
 Process 4224
*************************Bad Request**************
 Process 4226
 Process 4227
 Process 4228
 Process 4229
saving 4229
 Process 4230
 Process 4231
 Process 4232
 Process 4233
 Process 4234
 Process 4235
 Process 4236
 Process 4237
 Process 4238
 Process 4239
saving 4239
 Process 4240
 Process 4241
 Process 4242
 Process 4243
 Process 4244
 Process 4245
 Process 4246
 Process 4247
 Process 4248
 Process 4249
saving 4249
 Process 4250
 Process 4251
 Process 4252
 Process 4253
 Process 4254
 Process 4255
 Process 4256
 Process 4257
 Process 4258
 Process 4259
saving 4259
 Process 4260
 Process 4261
 Process 4262
 Process 4263
 Process 4264
 Process 4265
 Process 4266
 Process 4267
 Process 4268
 Process 4269
saving 4269
 Process 4270
 Process 4271
 Process 4272
 Process 4273
 Process 4274
 Process 4275
 Process 4276
 Process 4277
 Process 4278
 Process 4279
saving 4279
 Process 4280
 Process 4281
 Process 4282
 Process 4283
 Process 4284
 Process 4285
 Process 4286
 Process 4287
 Process 4288
 Process 4289
saving 4289
 Process 4290
 Process 4291
 Process 4292
 Process 4293
 Process 4294
 Process 4295
 Process 4296
 Process 4297
 Process 4298
 Process 4299
saving 4299
 Process 4300
 Process 4301
 Process 4302
 Process 4303
 Process 4304
 Process 4305
 Process 4306
 Process 4307
 Process 4308
 Process 4309
saving 4309
 Process 4310
 Process 4311
 Process 4312
 Process 4313
 Process 4314
 Process 4315
 Process 4316
 Process 4317
 Process 4318
 Process 4319
saving 4319
 Process 4320
 Process 4321
 Process 4322
 Process 4323
 Process 4324
 Process 4325
 Process 4326
 Process 4327
 Process 4328
 Process 4329
saving 4329
 Process 4330
 Process 4331
 Process 4332
 Process 4333
 Process 4334
 Process 4335
 Process 4336
 Process 4337
 Process 4338
 Process 4339
saving 4339
 Process 4340
 Process 4341
 Process 4342
 Process 4343
 Process 4344

In [ ]:
len(outputs)

4

In [ ]:
save_csv([outputs, labels, ids, tokens, extra_quries], ['preds', 'statements','ids', 'tokens', 'extra'], file_path=save_path)

In [ ]:
outputs

['Thought: The SQL query filters the games where the first digit of the score is greater than or equal to 3. Since the count returned is 4, it means that in 4 games the team scored at least 3 goals.\nAnswer: 4']

In [ ]:
llm_chain = LLMChain(llm=model, prompt=step_back_prompt_wiki, verbose=False)
llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)

[{'text': 'what is the average percentage of each selection in the polls?'}]

In [ ]:
all_queries

['who finished after Sebastian Porto in the race?',
 'who came before sebastian porto in the race?',
 'who came after the rider who came before sebastian porto?']

In [ ]:
outputs

['Thought: The BBC Three weekly ranking for episode 9 was 6, which is higher than the ranking for episode 8, which was 5. Therefore, episode 9 had a better BBC Three weekly ranking than episode 8.\nAnswer: episode 9']

In [ ]:
a

NameError: name 'a' is not defined

In [ ]:
##### add residual 

from langchain.chains import LLMChain
from langchain_openai import ChatOpenAI, OpenAI
import datetime
# from FlagEmbedding import FlagReranker
from openai import BadRequestError, RateLimitError
from tqdm.notebook import tqdm
table_loader = TableLoader(table_name='wikitable', split='test', use_sample=False, small_test=False)
model = ChatOpenAI(model_name='gpt-3.5-turbo-0125', openai_api_base="https://api.chatanywhere.tech/v1",
                       openai_api_key="sk-bLZSHx4pKfPRZkYyIyyvUHSEjrlqj5sh2QIsxOM23yJnyoGD", temperature=0.01)
save_path = f"../result/final_answer/wikitable_row_permutation_06-07_03-03-35.csv"
sample_k = 3
data = pd.read_csv(save_path)

tokens = []
outputs = []
labels = []
ids = []
extra_quries = []
i = 0
with tqdm(total=len(table_loader.dataset), desc=f"Processing",ncols=150) as pbar:
    while i < len(table_loader.dataset):
        if table_loader.dataset[i]['id'] in list(data['ids']):
            i += 1
        else:
            try:
                sample = table_loader.normalize_table(
                                    table_loader.dataset[i])
                all_tokens = 0
                all_queries = []
                formatter = TableFormat(format='none', data=sample, save_embedding=False)
                sample_data = formatter.get_sample_data(sample_type='random', k=sample_k, query=sample['query'])
                with get_openai_callback() as cb:
                    llm_chain = LLMChain(llm=model, prompt=step_back_prompt_wiki, verbose=False)
                    batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
                    all_queries.append(batch_pred[0]['text'].strip())
                    # print(all_queries)
                    llm_chain = LLMChain(llm=model, prompt=decompose_prompt_wiki, verbose=False)
                    batch_pred = llm_chain.batch([{"query": sample['query'], "table": TableFormat.format_html(sample_data)}], return_only_outputs=True)
                    all_queries.extend([q.strip() for q in batch_pred[0]['text'].split(';')])
                    # print(all_queries)
                all_tokens += cb.total_tokens
                all_queries = list(set(all_queries))
                args_list = [{"query": q, "sample": sample,  "k": sample_k} for q in all_queries]
                # print(len(args_list))
                ans_from_B = parallel_run_kwargs(scene_B, args_list)
                results = [res[0] for res in ans_from_B if 'Cannot get answer from sub-table' not in res[0]]
                all_tokens += sum([res[1] for res in ans_from_B])
                #With answer
                # results= []
                with get_openai_callback() as cb:
                    imp_input = scene_A(sample['query'], sample, sample_k, True)
                    llm_chain = LLMChain(llm=model, prompt=get_k_shot_with_answer() , verbose=True)
                    batch_pred = llm_chain.batch([{"query":sample['query'],"SQL": imp_input[1], "table": imp_input[2], "information": '\n'.join(results)}], return_only_outputs=True)
                    # print(batch_pred[0])
                all_tokens += cb.total_tokens
                # print('ALL TOKENS', all_tokens)
                ids.append(sample['id'])
                labels.append(sample['query'])
                outputs.append(batch_pred[0]['text'])
                tokens.append(all_tokens)
                extra_quries.append(';'.join(all_queries))
                i += 1
                print(f'process {i}')
            #         if (i + 1) % 10 == 0:
            #                 print(f'saving {i}')

            #         i += 1
            #         pbar.update(1)
            except ValueError as e:
                print(f'******************Value Error {i}****************************')
                i += 1
                # pbar.update(1)
            except BadRequestError as e:
                print('*************************Bad Request**************')
                i += 1
            #     pbar.update(1)
            except RateLimitError as e:
                print('*************************Rate limit**************')
                pass
        pbar.update(1)
# save_csv([outputs, labels, ids, tokens, extra_quries], ['preds', 'statements','ids', 'tokens', 'extra'], file_path=save_path)

Processing:   0%|                                                                                             …

> Entering new LLMChain chain...
Prompt after formatting:

Based on the Table below, your task is to accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
Approach this task as follows:
Read the query and extra information thoroughly and list every possible link from query term to column in the Table.
Then based on the column linking, output all useful columns at last. Make sure all columns in the linking step are included and every column is in the Table.


Table: <table>
<caption>Hoot Kloot</caption>
<thead>
<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>
</thead>
<tbody>
<tr><td>1  </td><td>"Kloot's Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>6  </td><td>"Mesa Trouble"       </td><td>Sid Marcus </td><td>1974       </td></tr>
</tbody>
</table>
Extra information: The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year.
1. Number: The episode number in the series
2. Title: The title of the episode
3. Directed_by_: The director of the episode
4. Released_: The release year of the episode

Query: what was the last title that sid marcus directed?
Column linking: the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_
Columns: Released_, Number, Title, Directed_by_


Table: <table>
<caption>1943–44 Chicago Black Hawks season</caption>
<thead>
<tr><th>  num</th><th>       Date</th><th>            Visitor</th><th>  Score</th><th>               Home</th><th>  Record</th></tr>
</thead>
<tbody>
<tr><td>14   </td><td>December 5 </td><td>New York Rangers   </td><td>6–7    </td><td>Chicago Black Hawks</td><td>8–6–0   </td></tr>
<tr><td>40   </td><td>February 26</td><td>Chicago Black Hawks</td><td>3–2    </td><td>Toronto Maple Leafs</td><td>18–18–4 </td></tr>
<tr><td>31   </td><td>January 29 </td><td>Chicago Black Hawks</td><td>4–3    </td><td>Toronto Maple Leafs</td><td>14–16–1 </td></tr>
</tbody>
</table>
Extra information: The table contains information about the 1943-44 Chicago Black Hawks season, including the date, visitor, score, home team, record, and points for each game.
1. num: The game number in the season
2. Date: The date of the game
3. Vistor: The visiting team
4. Score: The final score, with the visitor score listed first
5. Home: The home team
6. Record: The team win-loss-overtime loss record at the time of the game

Query: what was the difference in score in the december 19th win?
Column linking: difference in score -> Score, december 19th -> Date
Columns: Date, Score


Table: <table>
<caption>ICW World Heavyweight Championship</caption>
<thead>
<tr><th>   Wrestler_</th><th>  Reigns_</th><th>    Date_</th><th>              Place_</th><th>  Notes_</th></tr>
</thead>
<tbody>
<tr><td>Randy Savage</td><td>2        </td><td>1981     </td><td>Unknown             </td><td>        </td></tr>
<tr><td>Randy Savage</td><td>3        </td><td>1982     </td><td>Unknown             </td><td>        </td></tr>
<tr><td>Randy Savage</td><td>1        </td><td>1979-3-13</td><td>Halifax, Nova Scotia</td><td>        </td></tr>
</tbody>
</table>
Extra information: This table contains information about the ICW World Heavyweight Championship, including the wrestler, number of reigns, date, place, and notes.
1. Wrestler_: The name of the wrestler who held the championship
2. Reigns_: The number of times the wrestler held the championship
3. Date_: The date when the wrestler won the championship
4. Place_: The location where the championship was won
5. Notes_: Any additional notes or details about the championship reign

Query: what was the total number of reigns for randy savage?

> Finished chain.
Column linking: total number of reigns -> Reigns_, randy savage -> Wrestler_
Columns: Wrestler_, Reigns_


> Entering new LLMChain chain...
Prompt after formatting:
Our ultimate goal is to answer query based on the original table. Below we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: <table>
<caption>ICW World Heavyweight Championship</caption>
<thead>
<tr><th>   Wrestler_</th><th>  Reigns_</th></tr>
</thead>
<tbody>
<tr><td>Randy Savage</td><td>2        </td></tr>
<tr><td>Randy Savage</td><td>3        </td></tr>
<tr><td>Randy Savage</td><td>1        </td></tr>
</tbody>
</table>
Extra information: This table contains information about the ICW World Heavyweight Championship, including the wrestler, number of reigns, date, place, and notes.
Column information:


Query: what was the total number of reigns for randy savage?
SQL:

> Finished chain.
SELECT SUM(Reigns_)
FROM DF
WHERE Wrestler_ = 'Randy Savage';


> Entering new LLMChain chain...
Prompt after formatting:
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Think step by step and answer the question given in the query.
You should output in the following format:
Thought: your step by step thought
Answer: Only return the concise string instead of other format. Do not repeat the question.
Below is an example.


SQL Excuted:
```SELECT DISTINCT Type FROM DF WHERE Type != 'audio';```
Sub-table: <table>
<thead>
<tr><th> Type </th></tr>
</thead>
<tbody>
<tr><td>video   </td></tr>
<tr><td>audio/video   </td></tr>
</tbody>
</table>
Extra information:
The payload types for audio include audio, video, and audio/video.

Query: other than audio, what type of payload types are there?
Thought: Based on the SQL query and the extra information provided, the types include audio or video. Therefore, other than audio, the payload type is video.
Answer: video



SQL Excuted:
```SELECT SUM(Reigns_)
FROM DF
WHERE Wrestler_ = 'Randy Savage';```
Sub-table: <table>
<thead>
<tr><th>  SUM(Reigns_)</th></tr>
</thead>
<tbody>
<tr><td>6.0000        </td></tr>
</tbody>
</table>
Extra information:
The number of reigns for Randy Savage in the first instance was 1.
The number of reigns for Randy Savage in the second instance was 3.
Randy Savage had a total of 6 reigns.

Query: what was the total number of reigns for randy savage?

> Finished chain.
process 307


> Entering new LLMChain chain...
Prompt after formatting:

Based on the Table below, your task is to accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
Approach this task as follows:
Read the query and extra information thoroughly and list every possible link from query term to column in the Table.
Then based on the column linking, output all useful columns at last. Make sure all columns in the linking step are included and every column is in the Table.


Table: <table>
<caption>Hoot Kloot</caption>
<thead>
<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>
</thead>
<tbody>
<tr><td>1  </td><td>"Kloot's Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>6  </td><td>"Mesa Trouble"       </td><td>Sid Marcus </td><td>1974       </td></tr>
</tbody>
</table>
Extra information: The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year.
1. Number: The episode number in the series
2. Title: The title of the episode
3. Directed_by_: The director of the episode
4. Released_: The release year of the episode

Query: what was the last title that sid marcus directed?
Column linking: the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_
Columns: Released_, Number, Title, Directed_by_


Table: <table>
<caption>1943–44 Chicago Black Hawks season</caption>
<thead>
<tr><th>  num</th><th>       Date</th><th>            Visitor</th><th>  Score</th><th>               Home</th><th>  Record</th></tr>
</thead>
<tbody>
<tr><td>14   </td><td>December 5 </td><td>New York Rangers   </td><td>6–7    </td><td>Chicago Black Hawks</td><td>8–6–0   </td></tr>
<tr><td>40   </td><td>February 26</td><td>Chicago Black Hawks</td><td>3–2    </td><td>Toronto Maple Leafs</td><td>18–18–4 </td></tr>
<tr><td>31   </td><td>January 29 </td><td>Chicago Black Hawks</td><td>4–3    </td><td>Toronto Maple Leafs</td><td>14–16–1 </td></tr>
</tbody>
</table>
Extra information: The table contains information about the 1943-44 Chicago Black Hawks season, including the date, visitor, score, home team, record, and points for each game.
1. num: The game number in the season
2. Date: The date of the game
3. Vistor: The visiting team
4. Score: The final score, with the visitor score listed first
5. Home: The home team
6. Record: The team win-loss-overtime loss record at the time of the game

Query: what was the difference in score in the december 19th win?
Column linking: difference in score -> Score, december 19th -> Date
Columns: Date, Score


Table: <table>
<caption>Todd Martin</caption>
<thead>
<tr><th>  Outcome</th><th>    No</th><th>      Date</th><th>     Championship</th><th>  Surface</th><th>  Opponent_in_the_final</th><th>  Score_in_the_final</th></tr>
</thead>
<tbody>
<tr><td>Winner   </td><td>6.0000</td><td>1998-04-20</td><td>Barcelona, Spain </td><td>Clay     </td><td>Alberto Berasategui    </td><td>6-2, 1-6, 6-3, 6-2  </td></tr>
<tr><td>Winner   </td><td>8.0000</td><td>1999-01-18</td><td>Sydney, Australia</td><td>Hard     </td><td>Àlex Corretja          </td><td>6-3, 7-6(7-5)       </td></tr>
<tr><td>Winner   </td><td>7.0000</td><td>1998-11-16</td><td>Stockholm, Sweden</td><td>Hard     </td><td>Thomas Johansson       </td><td>6-3, 6-4, 6-4       </td></tr>
</tbody>
</table>
Extra information: The table contains information about Todd Martin's tennis matches, including the outcome, number, date, championship location, surface, opponent in the final, and score in the final.
1. Outcome: The result of the match, whether the player was the winner or the runner-up
2. No: The number of matches played
3. Date: The date of the match
4. Championship: The location of the championship
5. Surface: The type of surface the match was played on
6. Opponent_in_the_final: The name of the opponent in the final match
7. Score_in_the_final: The score of the final match

Query: who did this player face after he faced alberto berasategui in barcelona on april of 1998?

> Finished chain.
Column linking: alberto berasategui -> Opponent_in_the_final, barcelona -> Championship, april of 1998 -> Date
Columns: Opponent_in_the_final, Championship, Date


> Entering new LLMChain chain...
Prompt after formatting:
Our ultimate goal is to answer query based on the original table. Below we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: <table>
<caption>Todd Martin</caption>
<thead>
<tr><th>      Date</th><th>     Championship</th><th>  Opponent_in_the_final</th><th>    No</th></tr>
</thead>
<tbody>
<tr><td>1998-04-20</td><td>Barcelona, Spain </td><td>Alberto Berasategui    </td><td>6.0000</td></tr>
<tr><td>1999-01-18</td><td>Sydney, Australia</td><td>Àlex Corretja          </td><td>8.0000</td></tr>
<tr><td>1998-11-16</td><td>Stockholm, Sweden</td><td>Thomas Johansson       </td><td>7.0000</td></tr>
</tbody>
</table>
Extra information: The table contains information about Todd Martin's tennis matches, including the outcome, number, date, championship location, surface, opponent in the final, and score in the final.
Column information:
No:The number of the championship (Values like 1.0, 8.0, 6.0...)
Date:The date of the championship (Values like 1993-02-15, 1999-01-18, 1998-04-20...)
Championship:The location of the championship (Values like Memphis, Tennessee, USA, Sydney, Australia, Barcelona, Spain...)
Opponent_in_the_final:The name of the opponent in the final match (Values like Jim Courier, Àlex Corretja, Alberto Berasategui...)

Query: who did this player face after he faced alberto berasategui in barcelona on april of 1998?
SQL:

> Finished chain.
SELECT Opponent_in_the_final
FROM DF
WHERE Date > '1998-04-20'
AND Championship = 'Barcelona, Spain'
AND Opponent_in_the_final != 'Alberto Berasategui'


> Entering new LLMChain chain...
Prompt after formatting:
Below is a sub-table generated by excuting the corresponding SQL. You need to understand the logic behind the SQL filtering. Think step by step and answer the question given in the query.
You should output in the following format:
Thought: your step by step thought
Answer: Only return the concise string instead of other format. Do not repeat the question.
Below is an example.


SQL Excuted:
```SELECT DISTINCT Type FROM DF WHERE Type != 'audio';```
Sub-table: <table>
<thead>
<tr><th> Type </th></tr>
</thead>
<tbody>
<tr><td>video   </td></tr>
<tr><td>audio/video   </td></tr>
</tbody>
</table>
Extra information:
The payload types for audio include audio, video, and audio/video.

Query: other than audio, what type of payload types are there?
Thought: Based on the SQL query and the extra information provided, the types include audio or video. Therefore, other than audio, the payload type is video.
Answer: video



SQL Excuted:
```SELECT Opponent_in_the_final
FROM DF
WHERE Date > '1998-04-20'
AND Championship = 'Barcelona, Spain'
AND Opponent_in_the_final != 'Alberto Berasategui'```
Sub-table: No data from database
Extra information:
Based on the sub-table provided, the player faced Àlex Corretja in the final in Sydney in January of 1999.

Query: who did this player face after he faced alberto berasategui in barcelona on april of 1998?

> Finished chain.
process 1352


> Entering new LLMChain chain...
Prompt after formatting:

Based on the Table below, your task is to accurately output columns related to the query or contain useful information about the query. This process involves linking similar words or semantically similar terms to columns in the Table.
Approach this task as follows:
Read the query and extra information thoroughly and list every possible link from query term to column in the Table.
Then based on the column linking, output all useful columns at last. Make sure all columns in the linking step are included and every column is in the Table.


Table: <table>
<caption>Hoot Kloot</caption>
<thead>
<tr><th> Number</th><th> Title</th><th> Directed_by_</th><th> Released_</th></tr>
</thead>
<tbody>
<tr><td>1  </td><td>"Kloot's Kounty"           </td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>2  </td><td>"Apache on the County Seat"</td><td>Hawley Pratt  </td><td>1973       </td></tr>
<tr><td>6  </td><td>"Mesa Trouble"       </td><td>Sid Marcus </td><td>1974       </td></tr>
</tbody>
</table>
Extra information: The table contains information about the Hoot Kloot animated series, including the episode number, title, director, and release year.
1. Number: The episode number in the series
2. Title: The title of the episode
3. Directed_by_: The director of the episode
4. Released_: The release year of the episode

Query: what was the last title that sid marcus directed?
Column linking: the last title -> Released_, the last title-> Number, title -> Title, sid marcus -> Directed_by_
Columns: Released_, Number, Title, Directed_by_


Table: <table>
<caption>1943–44 Chicago Black Hawks season</caption>
<thead>
<tr><th>  num</th><th>       Date</th><th>            Visitor</th><th>  Score</th><th>               Home</th><th>  Record</th></tr>
</thead>
<tbody>
<tr><td>14   </td><td>December 5 </td><td>New York Rangers   </td><td>6–7    </td><td>Chicago Black Hawks</td><td>8–6–0   </td></tr>
<tr><td>40   </td><td>February 26</td><td>Chicago Black Hawks</td><td>3–2    </td><td>Toronto Maple Leafs</td><td>18–18–4 </td></tr>
<tr><td>31   </td><td>January 29 </td><td>Chicago Black Hawks</td><td>4–3    </td><td>Toronto Maple Leafs</td><td>14–16–1 </td></tr>
</tbody>
</table>
Extra information: The table contains information about the 1943-44 Chicago Black Hawks season, including the date, visitor, score, home team, record, and points for each game.
1. num: The game number in the season
2. Date: The date of the game
3. Vistor: The visiting team
4. Score: The final score, with the visitor score listed first
5. Home: The home team
6. Record: The team win-loss-overtime loss record at the time of the game

Query: what was the difference in score in the december 19th win?
Column linking: difference in score -> Score, december 19th -> Date
Columns: Date, Score


Table: <table>
<caption>Florida Derby</caption>
<thead>
<tr><th>  Year</th><th>       Winner</th><th>  Age</th><th>       Jockey</th><th>         Trainer</th><th>                    Owner</th><th>  Distance_nMiles</th><th>   Time</th><th>     Purse</th><th>  Gr</th></tr>
</thead>
<tbody>
<tr><td>2007  </td><td>Scat Daddy   </td><td>3    </td><td>Edgar Prado  </td><td>Todd A. Pletcher</td><td>J. Scatuorchio / M. Tabor</td><td>1-1/8            </td><td>1:49.00</td><td>$1,000,000</td><td>I   </td></tr>
<tr><td>1970  </td><td>My Dad George</td><td>3    </td><td>Ray Broussard</td><td>Frank J. McManus</td><td>Raymond M. Curtis        </td><td>1-1/8            </td><td>1:50.80</td><td>          </td><td>    </td></tr>
<tr><td>1957  </td><td>Gen. Duke    </td><td>3    </td><td>Bill Hartack </td><td>Horace A. Jones </td><td>Calumet Farm             </td><td>1-1/8            </td><td>1:46.80</td><td>          </td><td>    </td></tr>
</tbody>
</table>
Extra information: The table contains information about the winners of the Florida Derby horse race, including details such as year, winner, age, jockey, trainer, owner, distance in miles, time, purse, and grade.
1. Year: The year in which the Florida Derby took place
2. Winner: The name of the winning horse
3. Age: The age of the winning horse
4. Jockey: The name of the jockey who rode the winning horse
5. Trainer: The name of the trainer of the winning horse
6. Owner: The name of the owner of the winning horse
7. Distance_nMiles: The distance of the race in miles
8. Time: The time it took for the winning horse to complete the race
9. Purse: The amount of money awarded as prize money for the race
10. Gr: The grade of the race, indicating its level of prestige

Query: how long did it take scat daddy to run 1 1/8 miles?

> Finished chain.
Column linking: scat daddy -> Winner, 1 1/8 miles -> Distance_nMiles, how long -> Time
Columns: Winner, Distance_nMiles, Time


> Entering new LLMChain chain...
Prompt after formatting:
Our ultimate goal is to answer query based on the original table. Below we have a sub-table with rows randomly sampled from the original table, you are required to infer the data distribution and format from the sample data of the sub-table. Carefully analyze the query, based on the extra information, write a SQLITE3 SELECT SQL statement using table DF that complete query. Directly Output SQL, do not add other string.
sub-table: <table>
<caption>Florida Derby</caption>
<thead>
<tr><th>  Distance_nMiles</th><th>   Time</th><th>       Winner</th></tr>
</thead>
<tbody>
<tr><td>1-1/8            </td><td>1:49.00</td><td>Scat Daddy   </td></tr>

In [ ]:
len(outputs)

6

In [ ]:
save_csv([outputs, labels, ids, tokens, extra_quries], ['preds', 'statements','ids', 'tokens', 'extra'], file_path=save_path)

In [ ]:
def parse_extra_info(summary_aug, column_aug, composition_aug, columns):
    col_names, col_infos = parse_output(column_aug, pattern=r'([^<]*)<([^>]*)>')
    items, crackets = parse_output(composition_aug, pattern = r'\d. (.+?): (.+)')
    assert len(items) == len(col_names)
    extra_col_info = []
    for i_c in range(len(col_names)):
        if col_names[i_c] in columns:
            extra_col_info.append(f'{i_c + 1}. {col_names[i_c]}: {col_infos[i_c]} {crackets[i_c]}')
            
    extra_col_info.append('row_number: row number in the original table')
    return summary_aug + '\n'.join(extra_col_info)